//Fuentes
 $fuentePrincipal: 'Lato', sans-serif;
 $fuentSecundaria: 'Montserrat', sans-serif;
 

//Medias 

$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;

//Colors 

$gris: rgb(255, 254, 254);
$blanco: #ffff;
$negro: #000000;
$azul:rgba(27, 27, 181, 0.893);
$primario: rgba(24, 181, 248, 0.475);
$secundario: coral;
$terciario: rgb(123, 114, 114);
$grisClaro:  rgba(220, 215, 215, 0.708);





